@{
    ViewBag.Title = "Домашня сторінка";
}

<div class="jumbotron">
    <h2>Реєстр індивідуальних ліцензій на здійснення фізичними особами резидентами валютних операцій.</h2>
    <p>
        Автоматизована інформаційна система Національного банку України «Реєстр індивідуальних ліцензій на здійснення фізичними особами
        валютних операцій» (далі – AIC) - це комплекс організаційно-технічних засобів, який забезпечує автоматизоване надання Національним
        банком України індивідуальних ліцензій в електронній формі на здійснення фізичними особами валютних операцій, що відповідають вимогам,
        визначеним Національним банком України
    </p>
</div>
