<div id="InfoMessage" class="alert alert-info" >
    <a href="#">
        <div align="right">
            <button id="buttoncollapse" class="btn btn-default btn-xs glyphicon glyphicon-plus" type="button" data-toggle="collapse" data-target="#collapseForm" aria-expanded="false" aria-controls="collapseExample"></button>
        </div>
    </a>
    <b>Інструкція для заповнення інформації<span /></b>
    <div class="collapse" data-toggle="accordion-body collapse" id="collapseForm">
        <div id="Info" class="alert alert-info alert-dismissible" role="alert">
            1.	Ідентифікаційний номер – реєстраційний номер облікової картки платника податків з Державного реєстру фізичних осіб (крім осіб, які через релігійні переконання відмовились від його прийняття). Десятизнаковий числовий код.
            2.	Серія паспорту – двознаковий символьний код паспорту громадянина України.
            3.	Номер паспорту – шестизнаковий числовий номер паспорту громадянина України. Поля з 1 по 3 є обов’язковими та використовуються для ідентифікації клієнта в системі.
            4.	Прізвище, ім’я та по батькові відповідно повне ім’я клієнта.
            5.	Дата народження заповнюється в форматі DD/MM/YYYY, де DD - день, MM - місяць, YYYY – рік відповідно.
            6.	Стать клієнта вибирається запис довідника. Поля 5 та 6 використовуються для перевірки ідентифікаційного номеру клієнта (п.1) (крім осіб, що відмовились від його отримання).
            7.	Код країни банку – вибирається з довідника код країни розташування банку одержувача.
            8.	Код банку одержувача коштів – SWIFT / BIC код банку в форматі AAAA BB CC DDD, де AAAA 4-х символьний код банку, BB – 2-х символьний код країни розташування банку, CC – 2 значний символьно-числовий код розташування офісу, DDD – опціональний 3-х значний символьно-числовий код підрозділу банку.
            9.	Банк – назва банку одержувача коштів.
            10.	Одержувач – повне ім’я одержувача коштів.
            11.	Призначення платежу вибирається з довідника.
            12.	Код валюти – вибирається з довідника код валюти, в якій планується перерахування коштів.
            13.	Код країни одержувача – вибирається з довідника код країни одержувача коштів.
            14.	Сума – сума оперції.
            15.	Примітка – вільне поле для додаткових даних на розсуд виконавця.
            Після заповнення всіх полів натисніть кнопку «Сформувати ліцензію» та перейдіть до наступної сторінки для перевірки уведених даних.
        </div>
    </div>
</div>